<ion-header>
  <ion-toolbar>
    <ion-title>Resumen</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="abrir()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 align="center">Resumen de la compra</h2>

  <ion-grid fixed *ngIf="productos.length != 0;else vacio">

    <ion-row class="ion-justify-content-end">
      <ion-col size="6" class="total"> Total de la Compra </ion-col>
      <ion-col size="6"> {{ total | currency }} </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="3">Producto</ion-col>
      <ion-col size="3">Cantidad</ion-col>
      <ion-col size="3">Precio</ion-col>
    </ion-row>
    <ion-row *ngFor="let producto of productos">
      <ion-col size="3">
        <img [src]="producto.producto.image" [alt]="producto.producto.nombre" style="width: 80px; height: 80px;">
      </ion-col>
      <ion-col size="3">
        <ion-input type="number" [value]="producto.cantidad"></ion-input>
      </ion-col>
      <ion-col size="3">
        {{ producto.cantidad*producto.producto.precio | currency }}
      </ion-col>
      <ion-col size="3">
        <ion-button fill="clear" (click)="eliminarProducto(producto)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-template #vacio>
    No se han seleccionado productos para realizar la compra
  </ng-template>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="comprar()" expand="block" fill="clear" shape="round">
      Comprar
    </ion-button>
  </ion-toolbar>
</ion-footer>