<ion-header>
  <ion-toolbar>
    <ion-title>INICIO</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="abrir()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="verCompras()">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
      <!-- <ion-button (click)="perfil()" >
        <ion-icon slot="icon-only" name="people-outline"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 align="center">PRODUCTOS</h2>
  <ion-card *ngFor="let producto of productos" (click)="shopAlert(producto)">
    <!-- <img alt="" src="https://ionicframework.com/docs/img/demos/card-media.png" /> -->
    <img [alt]="producto.nombre" [src]="producto.image"/>
    <ion-card-header>
      <ion-card-title> {{ producto.nombre }} </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Precio: {{ producto.precio | currency}}
    </ion-card-content>
  </ion-card>
</ion-content>