<ion-header>
  <ion-toolbar>
    <ion-title>PRODUCTO</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="abrir()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <div *ngIf="!nuevo">
        <ion-button (click)="nuevo_reg()">
          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
        </ion-button>
      </div>
      <div *ngIf="nuevo">
        <ion-button (click)="nuevo=false">
          <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="nuevo">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Producto</ion-label>
        <ion-input [(ngModel)]="nuevo_producto.nombre" type="text" placeholder="Ingrese el nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Precio</ion-label>
        <ion-input [(ngModel)]="nuevo_producto.precio" type="number" placeholder="Ingrese el precio"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Stock</ion-label>
        <ion-input [(ngModel)]="nuevo_producto.stock" type="text" placeholder="Ingrese el stock del producto"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Imagen</ion-label>
        
        <ion-buttons slot="end">
          <ion-button>
            <label for = "file-upload">
              <ion-icon slot="icon-only" name="image-outline"></ion-icon>
            </label>
            <input (change)="uploadImage($event)" id="file-upload" style="display: none;" type="file" accept="image/*">
          </ion-button>
        </ion-buttons>

      </ion-item>
      <ion-item>
        <img [src]="image">
      </ion-item>
    </ion-list>
    <ion-grid fixed>
      <ion-row class="ion-justify-content-center">
        <ion-col size="6">
          <div *ngIf="nuevo_button">
            <ion-button (click)="agregar()" expand="block" >
              <ion-icon slot="icon-only" name="save-outline"></ion-icon>
            </ion-button>
          </div>
          <div *ngIf="!nuevo_button">
            <ion-button (click)="modificar()" expand="block" >
              <ion-icon slot="icon-only" name="cloud-upload-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>
    <ion-list>
      <ion-item *ngFor="let producto of productosObtenidos">
        <ion-label> {{producto.nombre}} </ion-label>
        <ion-label> {{producto.stock}} </ion-label>
        <ion-img [src]="producto.image" [alt]="producto.nombre" style="width: 50px; height: 50px;"></ion-img>
        <ion-button (click)="nuevo_producto=producto; nuevo=true; nuevo_button=false;image=''" slot="end" fill="clear" color="warning">
          <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="eliminarProducto(producto)" slot="end" fill="clear">
          <ion-icon slot="icon-only" name="trash-bin-outline" color="danger"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>