<ion-header>
  <ion-toolbar>
    <ion-title>PRODUCTO</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="abrir()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="nuevo_reg()">
        <div *ngIf="!nuevo">
          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
        </div>
        <div *ngIf="nuevo">
          <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="nuevo">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Producto</ion-label>
        <ion-input [(ngModel)]="nuevo_producto.nombre" type="text" placeholder="Ingrese el nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Precio</ion-label>
        <ion-input [(ngModel)]="nuevo_producto.precio" type="number" placeholder="Ingrese el precio"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Stock</ion-label>
        <ion-input [(ngModel)]="nuevo_producto.stock" type="text" placeholder="Ingrese el descuento"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Imagen</ion-label>
      </ion-item>
    </ion-list>
    <ion-grid fixed>
      <ion-row class="ion-justify-content-center">
        <ion-col size="6">
          <ion-button (click)="agregar()" expand="block" >
            <ion-icon slot="icon-only" name="save-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div>
    <ion-list>
      <ion-item *ngFor="let producto of productosObtenidos">
        <ion-label> {{producto.nombre}} </ion-label>
        <ion-label> {{producto.stock}} </ion-label>
        <ion-button (click)="modificar()" slot="end">
          <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="eliminar()" slot="end">
          <ion-icon slot="icon-only" name="save-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>